<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/sticky-footer-navbar.css" rel="stylesheet">
  <title>{% raw title %}</title>
</head>

<body>
  <body>

  <header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	  <a class="navbar-brand" href="#">{% raw title %}</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/new">New</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0" action="/search">
          <input name="q" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
  </header>

  <!-- Begin page content -->
  <main role="main" class="container">
	<div class="container">
      <div class="row">
        <div class="col-4">
		  {% raw nav %}
        </div>
        <div class="col-8">
		  <div class="m-2">
			{% raw body %}
		  </div>
        </div>
      </div>
	</div>
  </main>

  <footer class="footer">
    <div class="container">
      <span class="text-muted">&copy; Chiel 2 for Edia</span>
    </div>
  </footer>
</body>
</html>
