<form action="/text/{% raw text_id %}" method="post">
  <div class="form-group">
    <label for="title">Title</label>
	<input name="title" class="form-control" id="title" placeholder="Title" value="{% raw title %}">
  </div>
  <div class="form-group">
    <label for="text">Text</label>
	<textarea name="text" type="text" class="form-control" id="text" rows=20>{% raw text %}</textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
